<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Horario de Atención</h5>
                <p class="grey-text text-lighten-4">
                <p>
                    Lunes a Viernes de 09:00 a 21:00 hrs
                </p>
                <p>
                    Sábado de 09:00 a 17:25 hrs.
                </p>
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Ubicación</h5>
                <p class="grey-text text-lighten-4">
                <p>
                    Edificio U, subterráneo de Biblioteca.
                </p>
                <p>
                    Fono 32-2654134
                </p>
                </p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Enlaces de Interés</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="http://www.usm.cl" target="_blank"> USM </a></li>
                    <li><a class="grey-text text-lighten-3" href="https://siga.usm.cl/pag/" target="_blank">SIGA</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://sireb.usm.cl" target="_blank">Relaciones Estudiantiles</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="center">
                © 2017 USM
            </div>
        </div>
    </div>
</footer>