{% extends 'base.html' %}

{% load static %}
{% block body %}
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{% static 'img/gim3.jpg' %}">
                <div class="caption center-align">
                    <h3>Gimnasio III USM</h3>
                    <h5 class="light grey-text text-lighten-3">Ofrecemos actividades extraprogramáticas a la comunidad.</h5>
                </div>
            </li>
            <li>
                <img src="{% static 'img/maquinas.jpg' %}">
                <div class="caption left-align">
                    <h3>Sala de Máquinas y Pesas</h3>
                    <h5 class="light grey-text text-lighten-3">Inscrítebe en una de nuestras sesiones en la sala de máquinas.</h5>
                </div>
            </li>
            <li>
                <img src="{% static 'img/aerobica.jpg' %}">
                <div class="caption right-align">
                    <h3>Sala de Aeróbica</h3>
                    <h5 class="light grey-text text-lighten-3">Inscrítebe en una de nuestras sesiones en la sala de aeróbica.</h5>
                </div>
            </li>
        </ul>
    </div>

    <div class="container" style="padding-top: 20px;">
        <div class="center">
            <h4> Noticias </h4>
            <hr>
            <div style="padding-bottom: 20px"></div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Facebook</span>
                    <p>
                        No olviden ingresar a nuestra página y grupo en Facebook. Encuéntranos en la página Gimnasio III USM y en nuestro grupo de Facebook
                        Gimnasio 3 USM.
                    </p>
                </div>
                <div class="card-action">
                    <span style="font-size: 9pt;"> Publicado el 14/03/2015 10:28:19 hrs. </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Gimnasio III</span>
                    <p>
                        Bienvenido al Portal de Inscripciones del Gimnasio III USM. Inscribe tus bloques y revisa tus inscripciones a través de esta
                        página con tu usuario y contraseña SIGA.
                        Si no tienes acceso, acércate a recepción del Gimnasio III.
                    </p>
                </div>
                <div class="card-action">
                    <span style="font-size: 9pt;"> Publicado el 14/03/2015 10:13:24 hrs </span>
                </div>
            </div>
        </div>
    </div>




    <!-- Carousel javascript -->
    <script>

        $(document).ready(function () {
            $('.slider').slider();
        });


    </script>
{% endblock %}